<div class="w-100 bg-nav-black py-4 border-top">
    <div class="px-3 container">
        <div class="d-flex justify-content-between">
            <div>
                <p class="my-0 bold">Total</p>
                <p class="my-0 bold">$6.00</p>
            </div>
            <a href="#order" onclick="openBag()" id="add-to-bag" class="btn glow-on-hover position-relative z-1">Add to bag</a>
        </div>
    </div>
</div>